// Core variables and mixins
@import "variables.scss";
@import "mixins.scss";
// Global CSS
@import "global.scss";
@import "nav.scss";
@import "resume-item.scss";
@import "bootstrap-overrides.scss";
// Components

// .background {
//     background-image: url("img/general/microwave.jpg");
//     background-color: #cccccc;
//   }

.col-md-3.cohortMems{
    border: 1px solid lightgray;
    border-radius:10px;
    box-shadow: 2px 2px 2px lightgray;
    margin: 10px;
    margin-bottom: 25px;
    background: white;
  }
  
  .col-sm-3.technologies{
    border: none;
    border-radius: none;
    box-shadow: none;
  }
  .technos, .words{
    margin-top: -55px;
    background: white;
    padding:20px;
    border-radius: 10px;
  }
  
  .words{
    padding:50px;
  }
  .techs{
    width: 80px;
    margin: 20px;
  }